streamlit 

pandas 

matplotlib 
pyplot 
matplotlib
seaborn 
matplotlib.pyplot
sklearn.utils 
streamlit_option_menu 

plotly.express 
numpy 
plotly.figure_factory 
chart_studio.plotly 
plotly.offline 
